
<% title _("Products") %>
<% title_actions display_link_if_authorized(_("New Product"), hash_for_new_product_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => s_("Name") %></th>
    <th><%= _("Description") %></th>
    <th><%= _("Repositories") %></th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to_if_authorized(h(product.name), hash_for_edit_product_path(:id => product.name)) %></td>
      <td><%= product.description %></td>
      <td><%= link_to product.repositories.count, repositories_path(:search => "product=#{product.name}") %></td>
      <td align="right">
        <%= action_buttons(
                display_link_if_authorized(_("Synchronize"), hash_for_sync_product_path(product), :method => :put),
                display_delete_if_authorized(hash_for_product_path(product), :confirm => "Delete #{product.name}?")
            )%>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @products %>
<%= will_paginate @products %>
