<%= wizard_header 2, _('Select source type'), _('Select content'), _('Create') %>

<%= form_for @content_view, :url => (@content_view.new_record? ? content_views_path : content_view_path(@content_view)) do |f| %>
  <%= base_errors_for @content_view %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("Content view") %></a></li>
    <li><a href="#availability" data-toggle="tab"><%= _("Availability") %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name, :value => @content_view.to_label %>

      <% if @content_view.new_record? %>
        <%= f.hidden_field :originator_id, :value => @content_view.originator_id %>
        <%= f.hidden_field :originator_type, :value => @content_view.originator_type %>
      <% end %>

      <table class="table table-bordered">
        <tr>
          <th></th>
          <th><%= _("Name") %></th>
          <th><%= _("State") %></th>
          <th><%= f.object.kind_of?(Content::Repository) ? _('Last Sync') : _('Last Publish') %></th>
          <th><%= _("Content type") %></th>
        </tr>
        <% repositories.each do |repository| %>
          <tr class='repository_selection'>
            <td>
              <% if @content_view.new_record? %>
                <%= check_box_tag nil, repository.id, true %>
                <%= f.hidden_field :repository_ids_to_clone, :value => repository.id, :multiple => true, :id => "clone-#{repository.id}",
                                   :disabled => true %>
                <%= f.hidden_field :repository_source_ids,   :value => repository.id, :multiple => true, :id => "latest-#{repository.id}",
                                   :disabled => true %>
                <%= select_tag(nil, options_for_type_selection(repository), {:class => 'cv-repo-selection span2', :id => "select-#{repository.id}"}) %>
              <% end %>
            </td>
            <%= render :partial => 'content/repositories/repository', :locals => {:repository => repository} %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="tab-pane" id="availability">
      <%= multiple_selects(f, :environments, Environment,
                           Content::AvailableContentView.where(:content_view_id => @content_view.id).pluck(:environment_id),
                           { :label => _('Available in environments') }) %>
    </div>
  </div>
  <%= submit_or_cancel f %>
<% end %>
