
<% title _("Gpg keys") %>
<% title_actions display_link_if_authorized(_("New Gpg key"), hash_for_new_gpg_key_path), help_path %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => s_("Name") %></th>
    <th></th>
  </tr>
  <% for gpg_key in @gpg_keys %>
    <tr>
      <td><%= link_to_if_authorized(h(gpg_key.name), hash_for_edit_gpg_key_path(:id => gpg_key.name)) %></td>
      <td align="right">
        <%= display_delete_if_authorized hash_for_gpg_key_path(:id => gpg_key.name), :confirm => "Delete #{gpg_key.name}?" %>
      </td>
    </tr>
  <% end %>
</table>
<%= page_entries_info @gpg_keys %>
<%= will_paginate @gpg_keys %>
