<%= javascript 'content/content.js' %>
<%= form_for @repository, :url => (@repository.new_record? ? repositories_path : repository_path(:id => @repository.id)) do |f| %>
  <%= base_errors_for @repository %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("Repository") %></a></li>
    <li><a href="#operatingsystems" data-toggle="tab"><%= _("Operating systems") %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= select_f f, :product_id, Content::Product.all, :id, :name, {}, {:label => _("Product")} %>
      <%= text_f f, :name %>
      <%= text_f f, :feed, :class => 'span6' %>
      <%= selectable_f f, :content_type, Content::Repository::TYPES %>
      <%= select_f f, :architecture_id, ::Architecture.all, :id, :name, { :include_blank => N_("noarch")} %>
      <%= checkbox_f f, :enabled %>
      <%= checkbox_f f, :unprotected %>

      <%= select_f f, :gpg_key_id, Content::GpgKey.all, :id, :name, {:include_blank => true}, {:label => _("GPG Key")} %>

      <% unless @repository.new_record? %>
        <%= text_f f, :full_path, :disabled => true, :class => 'span6' %>
      <% end %>
    </div>
    <div class="tab-pane" id="operatingsystems">
      <%= alert :class => 'controls alert-success', :header => 'Repository for operating systems',
                        :text  => _('This Repository will be restricted only to hosts that runs the selected operating system') %>
      <%= multiple_selects(f, :operatingsystems, ::Redhat, f.object.operatingsystem_ids) %>
    </div>
  </div>
  <%= submit_or_cancel f %>
<% end %>
