<%= javascript 'content/content.js' %>
<%= form_for @repository, :url => (@repository.new_record? ? repositories_path : repository_path(:id => @repository.id)) do |f| %>
  <%= base_errors_for @repository %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("Repository") %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= select_f f, :operatingsystem_id, ::Redhat.all, :id, :to_label, {}, {:label => _("Operating System")} %>
      <%= render :partial => 'fields', :locals => {:f => f} %>

    </div>
  </div>
  <%= submit_or_cancel f %>
<% end %>
